<!DOCTYPE html>
<!-- This is the master layout file for the entire app. It will show on every page -->
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content= "<%= @seo_keywords%>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <%= image_tag(
              'cherryblossoms.gif',
              id: 'background',
              autoplay: true,
              loop: true,
              muted: true,
              poster: 'waveoffkanagawa.jpg'
            )
            %>
          <!-- This is going to take in the _nav.html.erb partial file just like how the application controller takes in the concerns -->
          <!-- But partials can be shared throughout the files whereas concerns go in the application controller -->
         <%= render "shared/application_nav" %>
          
          <!-- This is a view helper, which is similar to a partial file but view helpers pass in data (the embedded ruby code) -->
          <!-- <  %  = login_helper %> -->
          <!-- You can find this in application_helper.rb -->
          
          <!-- yield is extremely important because if you didn't have it then all of your page content would disappear -->
          <%= yield %>
          
          <p></p>
          
          <%= render "shared/application_footer" %>
          
          <%= alerts %>
          
        </div>
      </div>
    </div>
  </body>
</html>
