<!DOCTYPE html>
<!-- This is the master layout file for the entire app. It will show on every page -->
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content= "<%= @seo_keywords%>" />
<!-- blogs is a style sheet in the line below -->
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <!-- This is a view helper, which is similar to a partial file but view helpers pass in data (the embedded ruby code) -->
    <!-- You can find this in application_helper.rb -->
    <%= login_helper 'style' %>
    
    <!-- yield is extremely important because if you didn't have it then all of your page content would disappear -->
    <%= yield %>
    
       <%= render "shared/nav", location: 'bottom' %>
    
        <%= source_helper("blog") %>

  </body>
</html>
