<!DOCTYPE html>
<!-- This is the master layout file for the entire app. It will show on every page -->
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <meta name="keywords" content= "<%= @seo_keywords%>" />
<!-- blogs is a style sheet in the line below -->
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
       <%= render "shared/nav" %>
    
    <% if current_user.is_a?(User) %>
    <!--This will give a link for logout and here is the path and also the method of deletion.-->
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Register", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
    
    <!-- yield is extremely important because if you didn't have it then all of your page content would disappear -->
    <%= yield %>
    
    <% if session[:source] %>
    <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
