<!DOCTYPE html>
<!-- This is the master layout file for the entire app. It will show on every page -->

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

<!-- portfolios is a style sheet in the line below -->
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolio_nav' %>
    <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin) %>

<!-- yield is extremely important because if you didn't have it then all of your page content would disappear -->
    <%= yield %>

    <%= render 'shared/portfolio_footer' %>
    
    <%= alerts %>

  </body>
</html>